/*
* @Author: lenovo
* @Date:   2018-04-22 16:01:19
* @Last Modified by:   lenovo
* @Last Modified time: 2018-04-23 21:31:03
*/

@charset "UTF-8";
/*css 初始化 */
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img {
    margin: 0;
    padding: 0;
}

fieldset, img, input, button {          /*fieldset组合表单中的相关元素*/
    border: none;
    padding: 0;
    margin: 0;
    outline-style: none;
}

ul, ol {
    list-style: none;               /*清除列表风格*/
}

input {
    padding-top: 0;
    padding-bottom: 0;
    font-family: "SimSun", "宋体";
}

select, input {
    vertical-align: middle;
}

select, input, textarea {
    font-size: 12px;
    margin: 0;
}

textarea {
    resize: none;
}

/*防止多行文本框拖动*/
img {
    border: 0;
    vertical-align: middle;
}

/*  去掉图片低测默认的3像素空白缝隙*/
table {
    border-collapse: collapse;          /*合并外边线*/
}


body {
    font: 12px/150% Arial, Verdana, "\5b8b\4f53";   /*宋体，Unicode，统一码*/
    color: #666;
    background: #fff
}

.clearfix:before, .clearfix:after {
    content: "";
    display: table
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1; /*IE/7/6*/
}

a {
    color: #666;
    text-decoration: none;
}

a:hover {
    color: #C81623;
}

h1, h2, h3, h4, h5, h6 {
    text-decoration: none;
    font-weight: normal;
    font-size: 100%;
}

s, i, em {
    font-style: normal;
    text-decoration: none;
}

.col-red {
    color: #C81623 !important;
}

/*公共类*/
.w {
    /*版心 提取 */
    width: 1210px;
    margin: 0 auto;
}

.fl {
    float: left
}

.fr {
    float: right
}

.al {
    text-align: left
}

.ac {
    text-align: center
}

.ar {
    text-align: right
}

.hide {
    display: none
}
    /*nav开始*/
    .site-nav {
        height: 30px;
        background: #f0f0f0;
        line-height: 30px;
    }
    .site-nav .fore {
        position: relative;
        padding: 0 25px 0 10px;
    }
    .site-nav i{
        width: 15px;
        height: 7px;
        position: absolute;
        top: 12px;
        right: 8px;
        overflow: hidden;
    }
    .site-nav s{
        position: absolute;
        top: -8px;
        font: 400 12px/150% "consolas";
    }
/*var right*/
    .site-nav li{
        float: left;
        padding: 0 10px;
    }
    .site-nav li .line{
        width: 1px;
        height: 15px;
        background: #ddd;
        padding: 0px;
        margin-top: 9px;
    }
    .jd-tel {
        position: relative;
    }
.site-nav .jd-tel {
    padding-left:25px;
}
    .site-nav .fore span {
        position: absolute;
        top: 5px;
        left: 7px;
        width: 15px;
        height: 20px;
        background: url("../images/tel.png") no-repeat;
    }
    /*nav结束*/


    /*top-banner开始*/
    .top-banner {
        background-color: #37C2FB;
    }
    .top-banner-conter {
        position: relative;
    }
    .close-banner {
        position: absolute;
        top: 5px;
        right: 5px;
        width: 19px;
        height: 19px;
        background: url("../images/close-banner.png") no-repeat;
    }
    .close-banner:hover {
        background-position: bottom;
    }
    /*top-banner结束*/


    /*search开始*/
    .search-logo {
        width: 362px;
        height: 60px;
        padding: 20px 0;
        float: left;
    }
    .search-logo a {
        float: left;
        height: 60px;
        width: 270px;
        text-indent:-5000px;
        background: url("../images/logo.png") no-repeat;
    }
    .search-input {
        float: left;
        width: 538px;
        height: 36px;

        padding-top: 25px;
    }
    .search-input input {
        padding-left:5px;
        float: left;
        color: #cccccc;
        width: 449px;
        height: 32px;
        border: 2px solid #B61D1D;
        border-right:0;
    }
    .search-input button {
        float: left;
        height: 36px;
        width: 82px;
        background-color: #B61D1D;
        color: #fff;
        font: 400 16px/36px "microsoft yahei";
        cursor: pointer;
    }
    .search-car {
        float: right;
        width: 139px;
        height: 34px;
        text-align: center;
        position: relative;
        line-height: 34px;
        margin: 25px 65px 0 0;
        background-color: #F9F9F9;
        border: 1px solid #ddd;
    }
    .search-car-gwc {
        position: absolute;
        width: 18px;
        height: 16px;
        top: 9px;
        left: 18px;
        background: url("../images/tel.png") no-repeat 0 -58px;
    }
    .search-car-jt {
        position: absolute;
        font: 400 13px/34px "simsun";
        right: 10px;
    }
    .search-car-mag{
        position: absolute;
        width: 15px;
        height: 15px;
        border-radius: 7px 7px 7px 0;
        top: -8px;
        right: 30px;
        background: #c00;
        color: #fff;
        line-height: 15px;
        text-align: center;
    }
    .search-moreAlink {
        float: left;
        width: 520px;
        height: 28px;
    }
    .search-moreAlink li{
        float: left;
        margin-right: 10px;
    }
    /*search结束*/


   /* site-nav部分start  */
  .site-nav {
     height: 30px;
     line-height: 30px;
     background-color: #F1F1F1;
  }
  .site-nav-send {
  	position: relative;
  	  padding: 0px 25px 0px 10px;
  	}
   .site-nav-send:hover {
   	  background-color: #fff;
   }
    .site-nav-send i {
        position: absolute;
        top: 12px;
        right: 8px;
        width: 15px;
        height: 7px;
        overflow: hidden;
    }
    .site-nav-send s {
        font: 400 13px/15px "consolas"; 
        position: absolute;
        top: -7px;
    } 
    .site-nav-r li {
    	padding: 0px 10px;
    	float: left;
    	
    }
    .site-nav-r .line {
    	width: 1px;
    	height: 12px;
    	background-color: #DDD;
    	margin-top: 9px;
    	padding: 0;
    }
    .site-nav-r li a:hover {
    	color: #C81623;
    }
    .site-nav-r .fore{
    	position: relative;
  	    padding: 0px 25px 0px 10px;

    }
    .site-nav-r li i {
     	position: absolute;
        top: 12px;
        right: 8px;
        width: 15px;
        height: 7px;
        overflow: hidden;
     }
    .site-nav-r li s {
         font: 400 13px/15px "consolas"; 
        position: absolute;
        top: -7px;
    }
    .site-nav-r .fore .tel {
    	padding-left: 25px;
    }
    .site-nav-r li .fore .tel {
    	position: absolute;
    	width: 15px;
    	height: 20px;
    	top: 5px;
    	left: 7px;
    	background: url("../../images/tel.png") no-repeat;
    }
   
  /* site-nav部分end  */
  /* top-banner部分start  */
    .top-banner {
        height: 80px;
    	background-color: #FD6500;
    }
    .tb {
    	position: relative;
    }
   .close-banner {
        position: absolute;
        top: 5px;
        right: 5px;
        width: 19px;
        height: 19px;
        background: url("../../images/close-banner.png");   
   }    
   .close-banner:hover {
   	     background-position: bottom;
   }
   /* site-nav部分end  */
  /* search部分start  */
  .search-logo {
  	float: left;
  	width: 362px;
  	height: 60px;
    padding: 20px 0;
  }
  .search-logo a {
  	display: inline-block;
  	width: 270px;
  	height: 60px;
  	/* text-indent: -999em; */
  	background: url("../../images/logo.png") no-repeat;
  }
  .search-input {
  	float: left;
  	width: 538px;
  	height: 36px;
  	padding-top: 25px;
  }
  .search-input input {
  	float: left;
  	width: 450px;
  	height: 32px;
    padding-left: 4px;
  	font: 14px/32px microsoft yahei;
  	color: rgb(153,153,153);
    border: 2px solid #B61D1D;
  	border-right: 0;
   }	
  .search-input button {
   	float: left;
    width: 82px;
    height: 36px;
    background-color: #B61D1D;
    font: 400 16px/36px microsoft yahei;
    cursor: pointer; 
  }
  
  .search-car {
  	position: relative;
  	float: right;
  	width: 96px;
  	height: 34px;
  	line-height: 34px;
  	padding-left: 43px;
  	margin: 25px 65px 0 0;
  	border: 1px solid #DFDFDF;
  	background-color: #f9f9f9;
    }
  	
  .icon1 {
  	position: absolute;
  	top: 9px;
  	left: 18px;
  	width: 18px;
  	height: 16px;
  	background: url("../../images/tel.png") no-repeat 0 -58px ;
  }
  .icon2 {
  	position: absolute;
  	right: 10px;
  	color: #999;
  	font: 13px/34px "SimSun";

  }
  .icon3 {
  	position: absolute;
  	top: -5px;
  	width: 16px;
  	height: 14px;
  	background-color: #C81623;
  	line-height: 14px;
  	text-align: center;
  	color: #fff;
  	border-radius: 7px 7px 7px 0px;
  }
  .search-moreAlink {
  	float: left;
  	width: 530px;
  	height: 28px;
  	line-height: 28px;
  }
  .search-moreAlink a{
  	margin-right: 8px;
  }
  /* search部分end  */
  /* shortcut-nav部分start  */  
  .shortcut-nav {
    height: 44px;
    width: 100%;
    border-bottom: 2px solid #B1191A;
  }
  .shortcut-nav-menu {
    height: 44px;
    width: 210px;
    float: left;
    position: relative;
    z-index: 1;
  }
  .shortcut-nav-item {
    width: 730px;
    height: 44px;
    float: left;
    /* background-color: blue; */
  }
  .shortcut-nav-item li {
    float: left;
  }
  .shortcut-nav-item li a {
    display: inline-block;
    height: 44px;
    padding:0 20px ;
    color: #333 ;
    font: 400 16px/44px microsoft yahei;
  }
  .shortcut-nav-item li a:hover {
    color: #C81623;
  }
  .shortcut-nav-img {
    width: 200px;
    height: 44px;
    float: right;
    /* margin-top: 10px;
    margin-right: 50px; */
    position: relative;
    left: -50px;
    top: -10px;
    background-color: yellow;
  }
  .shortcut-nav-menu-all a {
    display: inline-block;
    width: 210px;
    height: 44px;
    background-color: #B1191A;
    color: #fff;
    font: 400 15px/44px microsoft yahei;
    line-height: 44px;
  }
  .shortcut-nav-menu-one {
    width: 209px;
    height: 465px;
    margin-top: 2px;
    background-color: #C81623;
    border-left: 1px solid #B1191A;
    border-bottom: 1px solid #B1191A;
    
  } 






   
    




    
    /* shortcut-nav部分end  */









    /* site-nav部分start  */
    /* site-nav部分end  */









    /* site-nav部分start  */
    /* site-nav部分end  */











    /* footer部分start  */
    .footer-top-slogen {
    	width: 100%;
    	height: 54px;
    	position: relative;
    	padding: 20px 0;
      margin-bottom: 16px;
    	background-color: #F5F5F5;
    }
    .footer-top-slogen-icon {
    position: absolute;
    left: 50%;
    }
    .footer-top-slogen-icon1 {
    	margin-left: -604px;
    }
    .footer-top-slogen-icon2 {
    	margin-left: -302px;
    }
    .footer-top-slogen-icon3 {
    	margin-left: 0px;
    }
    .footer-top-slogen-icon4 {
    	margin-left: 302px;
    }
    .footer-top-shopping dl {
      width: 200px;
      float: left;
    }
    dl.last-dl {
      width: 100px;
    }
    .footer-top-shopping dd {

    }
    .footer-top-shopping dt, h3{
      height: 34px;
      font: 400 16px/34px "microsoft yahei";
    }
    .coverage {
      width: 186px;
      height: 169px;
      float: right;
      margin-right: 40px;
      padding-left: 17px;
      background: url("../../images/china.png") no-repeat left bottom ;
    }
    .coverage p {
       padding-top: 8px; 
    }
    .coverage a {
      float: right;
    }
     .footer-bottom {
      border-bottom: 1px solid #E5E5E5;
      margin-top: 20px;
      text-align: center;
      padding: 20px 0 30px;
     }
     .footer-bottom-links a {
      margin: 0 10px;
     }
     .footer-bottom-copyright {
      padding: 10px 0;
     }
     .footer-bottom-img a {
      margin: 0 5px;
     }
    /* footer部分end  